<a href="https://colab.research.google.com/github/Sri485/INFO5731/blob/main/Srikanth_In_class_exercise_01_09072022_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
#Enter a string
str = input("string entered: ")
counter = 0
for s in str:
      counter = counter+1
print("Here the Length of the given string is:", counter)

string entered: Data Science
Here the Length of the given string is: 12

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:

import collections
def char_count():
  #string to be entered
    r = input('Enter a String: ') 
    #counts the string characters
    return collections.Counter(list(r))
    #prints the characters
print(char_count())

Enter a String: Google.com
Counter({'o': 3, 'G': 1, 'g': 1, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:

inputList = [14,31,22,27,39,43]
sum = 0
for number in inputList:
  sum = sum + number
#sum of the items is printed
print("Here the sum of the all items is : {}".format(sum))

Here the sum of the all items is : 176

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
input_str = "restart"
print("".join((input_str[0], input_str[1:].replace(input_str[0], "$"))))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
#Entered the value of "a"
a = float(input('a value to be entered:'))
#Entered the value of "b"
b = float(input(' b value to be entered:'))
#the formula used to calculate 
s = 3.14*(1+a/b)**3
print(' s value obtained is: ',s)

a value to be entered:4
 b value to be entered:5
 s value obtained is:  18.312480000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#Concentrated dictionaries
dicy_1={1:10, 2:20}
dicy_2={3:30, 4:40}
dicy_3={5:50,6:60}
dicy_4 = {}
for r in (dicy_1, dicy_2, dicy_3): dicy_4.update(r)
print(dicy_4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
tuple_sample = ("Machine Learning", "Booming Concepts")
elements = input("Enter any element that you want to search in the tuple: ")
if elements in tuple_sample:
  print("The elements is in the tuple!!!")
else:
  print("The elements is not in the tuple!!!")

Enter any element that you want to search in the tuple: Data
The element is not in the tuple!!!

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
from typing import Set
set = {45, 65, 34, 74, 33, 11}
#prints both the Max and Min values from the given set of numbers
print("Max values in a given set:" , max(set))
print("Min values in a given set:", min(set))

Max values in a given set: 74
Min values in a given set: 11

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random
#Entered the students list 
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313',
                'ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def partition(student_list, n): 
    divide = len(student_list) / float(n) 
    return [ student_list[int(round(divide * i)): int(round(divide * (i + 1)))] for i in range(n) ]
partition(studnet_list,12)

[['ja0964', 'sa1198'],
 ['sb1357', 'vb0218', 'sc1229'],
 ['kg0569', 'kg0470', 'sg1297'],
 ['bg0320', 'fh0141'],
 ['jl1252', 'sk1386'],
 ['ak0956', 'sk1390', 'sk1458'],
 ['sk1313', 'ak0934', 'vm0377'],
 ['nm0618', 'sm1640'],
 ['sm1907', 'gn0108'],
 ['pr0353', 'dr0609', 'ms1500'],
 ['aos0040', 'ds0814', 'av0659'],
 ['nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
#Finding the repeated elements in an integer set
def Repeat(r):
  #length is defined
  _size_1 = len(r) 
  repeated = []
  for e in range(_size_1):
    f = e + 1
    #range is defined
    for g in range(f, _size_1):
      if r[e] == r[g] and r[e] not in repeated:
         repeated.append(r[e])
         return -1 if len(repeated) == 0 else repeated
arrayofinteger1 = [46,87,38,2,65,4,46,28,95,105,104] 
arrayofinteger2 = [28, 45, 33, 67, 90,45, 23] 
# no duplicates so it must return -1
arrayofinteger3 = [9, 0, 81, 78, 64]

print (Repeat(arrayofinteger1))
print (Repeat(arrayofinteger2))
print (Repeat(arrayofinteger3))

[46]
[45]
None

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
#from the data time line that we considered
from datetime import date, timedelta
#define the day and the year
def sundays(year):
       date1 = date(year, 1, 1)
       date1 += timedelta(days = 6 - date1.weekday())  
       while date1.year == year:
          yield date1
          date1 += timedelta(days = 7)
          
for sun in sundays(2015):
   print(sun)

2015-01-04
2015-01-11
2015-01-18
2015-01-25
2015-02-01
2015-02-08
2015-02-15
2015-02-22
2015-03-01
2015-03-08
2015-03-15
2015-03-22
2015-03-29
2015-04-05
2015-04-12
2015-04-19
2015-04-26
2015-05-03
2015-05-10
2015-05-17
2015-05-24
2015-05-31
2015-06-07
2015-06-14
2015-06-21
2015-06-28
2015-07-05
2015-07-12
2015-07-19
2015-07-26
2015-08-02
2015-08-09
2015-08-16
2015-08-23
2015-08-30
2015-09-06
2015-09-13
2015-09-20
2015-09-27
2015-10-04
2015-10-11
2015-10-18
2015-10-25
2015-11-01
2015-11-08
2015-11-15
2015-11-22
2015-11-29
2015-12-06
2015-12-13
2015-12-20
2015-12-27